* {
    box-sizing: border-box;
    font-family: Outfit;
}
@font-face {
    font-family: Outfit;
    src: url('images/Outfit/Outfit-VariableFont_wght.ttf');
}
.attribution {
     font-size: 11px;
     text-align: center;
}
.attribution a { 
    color: hsl(228, 45%, 44%);
}
body {
    background-color: hsl(212, 45%, 89%);
    overflow: auto;
    margin: 0 auto;
}
.main {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}
.card {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 90%;
    max-width: 384px;
    background-color: hsl(0, 0%, 100%);
    padding: 15px;
    border-radius: 15px;
}
p {
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    font-weight: 400;
}
.qr-image {
    border-radius: 12px;
}
.heading {
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    font-size: 20px;
}
